/* This changes the background-color of the HTML file*/
*{
    margin:0;
    padding:0;
    font-family: sans-serif; /*keeping this here if i want to change : monospace*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;

}
.para-text{ font-size:30px;}
nav{
    color:white;
    background-color: grey;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    
}
nav a{
    height: 100%;
    color: white;
    display: flex;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
}
nav li:first-child{
    margin-right: auto;
}
nav ul{
    list-style-type: none;
}
nav li{
    color:white
}
nav ul li{
    display: inline-block;
}

#sticky{
    position:fixed;
    top:0;
    width: 100%;
}

.container .static-txt{
    width:170px;
    left: auto;
    text-align:center;
    /*border: 20px solid ;*/
    /*color:red;*/
    font-size: 60px;
    font-weight: 400;
   
    left:17%;
}
.container .dynamic-txt{
    display: inline-block;
}
.dynamic-txt{
    /*border: 20px solid ;*/
    width: 105%px;
    scroll-margin-block: 200px;
    text-shadow:20px 20px 20px;
    align-items: center;
    left:1%;
    font-size: 60px;
}
.head{
    padding:12px;
}

.slides1{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    color:white;
    background-image: url('drawing-picture.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}


.slides2{
    width: 100%;
    height: 100vh;    
    padding:50px;   
    gap:10px;
    color:#fff;
    background-image: url('grey-wallpaper.jpg');
    background-size: cover;
    background-repeat:no-repeat
}

.slides3{
    width: 100%;
    height: 100vh;
    padding:50px; 
    gap:10px;
    color:#fff;
    background-image: url('grey-wallpaper.jpg');
    background-size: cover;
    background-repeat:no-repeat;   
}

.progress {
    /*border: 30px solid red ;*/
    
    
    padding:20px;
    display: table-cell;
    font-size: 25px;
}
.slides4{
    width: 100%;
    height: 100vh;
    padding:50px;
    display:flex;
    gap:10px;
    color:#fff;
    background-image: url('grey-wallpaper.jpg');
    background-size: cover;
    background-repeat:no-repeat
}
.form{
    color: white;
    text-decoration: none;
}


@media(max-width: 1000px) {
    
    .container div {
        font-size: 20px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: right;
        
    }
    .container nav{
        font-size: 40px;
    }
    
    .container #dynamic-txt{
        font-size:60px ;
    }
    .container #head2{
        padding:12px;
        
    }
    /*.para-text{ font-size:20px;}*/
    /*.container #progress div{font-size:0px;}*/
}
